@import "../../styles/references/index";

.main-intro {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include responsive-size(padding, 50px 0 0 0, 50px 0 0 0, 20px 0 0 0, 20px 0 0 0);
    .text-intro-div {
        position: absolute;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 2;
        @include responsive-size(margin, 64px 0 0 32px, 64px 0 0 32px, 64px 0 0 32px, 64px 0 0 12px);
        span {
            color: white;
            font-weight: bold;
            text-wrap: nowrap;
            @include responsive-size(font-size, 50px, 40px, 30px, 28px);
        }
        .hire {
            border-radius: 12px;
            border: none;
            cursor: pointer;
            background-color: #a3c9d4;
            color: white;
            transition: all;
            margin-top: 20px;
            font-weight: bold;
            @include responsive-size(width, 120px, 120px, 80px, 80px);
            @include responsive-size(height, 40px, 40px, 30px, 30px);
            @include responsive-size(font-size, 20px, 20px, 16px, 16px);
            &:active {
                transform: scale(0.9) !important;
            }

            a {
                width: 100%;
                height: 100%;
                color: white;
                text-decoration: none;
                font-family: "Kalam", cursive;
            }
        }
    }
}
