@import "../../styles/references/index";

.main-experience {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 50px;
    position: relative;
    @include responsive-size(width, unset, unset, unset, 300px);
    @include responsive-size(padding, 40px, 40px, 40px, 10px 0);
    .guid-line {
        position: absolute;
        transition: all;
        height: 0;
        width: 6px;
        border-radius: 6px;
        background: white;
        @include responsive-size(left, unset, unset, unset, 0);
    }
    .card-experience {
        border-radius: 12px;
        background-color: white;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        row-gap: 6px;
        max-width: 400px;
        @include responsive-size(width, 400px, 320px, 230px, 82%);
        @include responsive-size(height, 170px, 170px, 140px, 140px);
        @include responsive-size(padding, 20px 10px, 20px 10px, 10px, 10px);
        .circle {
            min-width: 24px;
            min-height: 24px;
            border-radius: 50%;
            background: black;
            position: absolute;
        }
        .date-logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .date {
                font-weight: bold;
                color: black;
                @include responsive-size(font-size, 18px, 16px, 14px, 14px);
            }
            img {
                border-radius: 50%;
                @include responsive-size(width, 60px, 50px, 40px, 40px);
                @include responsive-size(height, 60px, 50px, 40px, 40px);
            }
        }
        .position {
            color: black;
            font-weight: bold;
            @include responsive-size(font-size, 22px, 20px, 18px, 14px);
        }
        .desc {
            color: black;
            @include responsive-size(font-size, 16px, 14px, 10px, 10px);
        }
    }
    .nitc {
        @include responsive-size(margin-left, -460px, -380px, -290px, 0);
        .circle {
            top: -2px;
            @include responsive-size(left, unset, unset, unset, -26px);
            @include responsive-size(right, -32px, -32px, -32px, unset);
        }
    }
    .payesh {
        @include responsive-size(margin-right, -460px, -380px, -290px, 0);
        .circle {
            top: -2px;
            @include responsive-size(left, -32px, -32px, -32px, -26px);
        }
    }
}
